
What is needed:

1)  Enough space for 4 or 5, up to 6 or 7 dirty, fiery, shavings-tossed-everywhere classes to go simultaneously without having the banging, drilling, talking, and hammering drowning out each other. 
Don't count the feast area as one of these areas!  It's better to set up the feast hall like you want it for feast, and then let that area alone for the rest of the event (where people can talk, schmooze, and relax).

2)  A nice area for outdoor forges, you'll get anywhere from 3 to 8. 
Also, have a plan and a place to move them if it rains, where they can be protected from the elements.

3)  Heated cabins for flopping (I won't say sleeping!  ;-)

4)  Near an airport, with clear directions from the airport to the site available upon request (or, better yet, a designated shuttle person).

5)  Apparently, a lake (there's been one at every MSS so far, and only 2 were Boy Scout camps...come to think of it, the Boy Scout camps had the *smallest* lakes!  ;-)  If you don't have a lake, a hurricane (MSS4) or sudden cold snap (MSS3 & 4) will work in a pinch....


Now, the following things are not necessary to have for an MSS, but we've found them to be exceedingly helpful to incorporate:

Food:

1)  Have a hot, *portable* lunch spread.  If classes run long-ish, or if people want to grab and run to another class, this is the perfect way to have food on the go.

2)  Similarly, make up lunch trays and send them to the forge area and any other outlying classes.  Assume the teachers won't have a chance to come in and eat.

3)  Make sure the outlying teachers (blacksmith area, pottery area,
etc.) have plenty to drink.  Assigning a "schlepper" to do this is a good idea, and we've even let them use a car to get to all the areas in record time (that person schlepped the lunch food too in the car).

4) Have lots of drinks on hand for everyone, and hot drinks if it's cold (which it usually is).  Warmed cider with just a touch of spices went over very well at MSS3, and choices of coffee / tea / hot water / sekanjabin / lemon drink went over well at MSS4.

5) Good, plentiful, hot, filling food for feast.  It doesn't have to be period, though that always a plus, but it should be on time.  Having a kitchen staff who's there to help instead of taking classes is ideal, but I understand the temptation!


Class Schedules and Setup:

1)  Have a schedule set up at least 2 weeks out, preferably 4, online so that all the teachers can see the proposed schedule and, if need be, tweak it a little.  Also, letting the teachers sign up early for classes is a Very Good Thing, and keeps them happy.  Keep your teachers happy!!!

2)  Have a designated table for class signup sheets (it worked best in the feast hall at all MSS's so far).  Having a large-size master Schedule (poster size would work) is also very good.

3)  Have a designated class coordinator at the signup desk, who's there for the duration to assist people with signups and such

4)  Have a site map there, but also have the class coordinator point in which direction each class area is.  Also, mark the class areas so that teachers can pick a cabin close to where they're teaching.  MSS4 had a "Forge Cabin", and that worked very well.

5)  Have a spiffy gift for your teachers!  MSS2 started this tradition, and like I said before, anything to keep your teachers happy!

Event Setup:

1)  Have a merchant area, so they can all be set up near each other - preferably indoors: this is a research-heavy event, so it's odds-on you'll get at least one book dealer.

2)  Have a library, with a designated librarian to watch the books.
Some of these books are hideously expensive, so having a person there to mind the area and care for the books (like making sure no one eats on one, or that an errant wolf can't start chewing on one) while the library is open works.  We had it open all day at MSS3, but we only did it after supper both Fri and Sat night at MSS4; both seemed to work.

3)  For the MSS's, it's worked out well to have no classes after feast, so that everyone can relax, schmooze, and talk shop.  It gives all the metal / glass -heads a chance to catch up with each other, and there are some people who only come to this event each year!

4)  Lots of signs!  This has been so-so at MSS's, and I know there are some shires that just don't have the budget or the signage.  So the EKMG is going to buy signs to supplement each individual shire's / barony's / canton's groups signs, and once we get them, and picture of what they look like can be seen <here> so you know what to look for.


Caro's Wish List:

These are things that haven't been done, but they sound like they may help smooth the running of the event:

1)  Have someone who rings the hours at each class area (so that you know when your class ends so you can run to the next!).

2)  Have an "inspiration area", tables and chairs set up to just talk, sketch, or start working on an idea that hit in the middle of a class - or maybe start / finish a project

3)  Classes at every skill level.  I know how difficult this can be if you don't get the teachers, but even if it's just a class or two, having classes at all levels invites more people, and in the long run, more teachers!

4)  Having a linked series of classes - we tried this at MSS3, and it just didn't work out.  By this I mean a full series of classes where you have a "thing" or "set" at the end: Penannular Making + Etruscan Granulation + Enameling = a copy of the Tara Brooch, or Glass Beads + Pewter Casting + Wire Wrapping = a Viking Treasure Necklace, or Knife Making + Cold Forging + Basic Blacksmithing = a feast gear cutlery set. 
For those who come for a specific "I want to make this object" class instead of "I need to master these 5 skills to add to my skill set".

5)  Portable heaters if it's too cold, and portable fans if it's too hot

6)  Portable shelters for the outdoor classes if it rains.  The EKMG's already looking into getting some canvases to help with this.

7)  Having the event span a full 4 days would be nice...Friday to come set up (and have a few prelim classes), two full days of classes, and Monday to recover and go home...maybe take a field trip while you're on your way....

8)  Speaking of field trips...each event site has been near some spiffy museums and local sites (even a mine or two), and I wish we could take advantage of it.


